@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 6rem;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .4s;
}

.showcase.active {
    position: absolute;
    right: 15rem;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 4rem;
    z-index: 100;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.text {
    z-index: 10;
}

.text h2 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 1em;
}

.text h3 {
    font-size: 3rem;
    color: #fff;
    line-height: 1em;
}

.text p {
    margin-top: 1.5rem;
    max-width: 45rem;
}

.text a {
    display: inline-block;
    text-decoration: none;
    margin-top: 1.5rem;
    background-color: #fff;
    padding: .6rem 2rem;
    color: #111;
    letter-spacing: .1rem;
    transition: .3s;
}

.text a:hover {
    letter-spacing: .3rem;
}

.toggle {
    background: url(./images/menu.png);
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(./images/close.png);
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 15rem;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    font-size: 1.8rem;
}

.menu ul a {
    color: #000;
    transition: .2s;
}

.menu ul a:hover {
    color: darkolivegreen;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkolivegreen;

    mix-blend-mode: overlay;
}

.social {
    position: absolute;
    bottom: 2rem;
    display: flex;
}

.social li a {
    display: inline-block;
    margin-right: 1.5rem;
    transition: 0.3s;
}

.social li a:hover {
    transform: translateY(-.8rem);
}

@media(max-width: 800px) {

    .showcase,
    .showcase header {
        padding: 1.5rem;
    }

    .text h2 {
        font-size: 3rem;
    }

    .text h3 {
        font-size: 2rem;
    }
}