@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 9, 121, 0.4265919811320755) 40%, rgba(0, 212, 255, 1) 100%);
}

.clip-bg {
  background-image: url(./images/bg.jpg);
  height: 100vh;
  clip-path: polygon(100% 0, 100% 75%, 0 100%, 0 25%);
  position: relative;
  display: grid;
  place-items: center;
}

.clip-bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.3;

}

.clip-bg h1 {
  color: white;
  font-size: 5rem;
  z-index: 5;
}